.downloadResumeButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__yIyEz {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___3TsbL {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
