.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: #2e42b5;
  min-width: 0;
  min-height: 0;
  padding: 120px 12%;
}
@media (min-width: 0px) and (max-width: 800px) {
  .root {
    padding: 64px 20px;
  }
}
.freeBox__emE8P {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 980px;
  min-width: 0;
  min-height: 0;
}
.freeBox___3CRke {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 0px;
  height: 0px;
  background: rgba(68, 192, 255, 0.2);
  flex-shrink: 0;
}
.freeBox__bVj7B {
  flex-direction: row;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
}
.freeBox__bVj7B > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__bVj7B {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__bVj7B > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 80px);
    height: calc(100% + 80px);
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__bVj7B > :global(.__wab_flex-container) > *,
  .freeBox__bVj7B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bVj7B > :global(.__wab_flex-container) > picture > img,
  .freeBox__bVj7B
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 80px;
  }
}
.freeBox__xG3ID {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__xG3ID {
    left: auto;
    top: auto;
    align-items: center;
  }
}
.freeBox__ibiJp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 464px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__ibiJp {
    width: 322px;
  }
}
.text__pScR {
  font-size: 70px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: "Eczar", serif;
}
@media (min-width: 0px) and (max-width: 800px) {
  .text__pScR {
    text-align: center;
    font-size: 42px;
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .text__pScR {
    font-size: 36px;
  }
}
.text___72Mcl {
  position: relative;
  font-size: 22px;
  margin-bottom: 16px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .text___72Mcl {
    text-align: center;
    font-size: 18px;
  }
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: auto;
  left: auto;
  top: auto;
  align-self: flex-start;
}
.svg__hZeef {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__byGLz {
  color: #ffffff;
}
.svg__qy61E {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__yH1Hh {
  width: 40%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__yH1Hh {
    left: auto;
    top: auto;
    align-items: center;
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .freeBox__yH1Hh {
    width: 100%;
    min-width: 0;
  }
}
.text__mfvpV {
  font-size: 70px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: "Eczar", serif;
}
@media (min-width: 0px) and (max-width: 800px) {
  .text__mfvpV {
    text-align: center;
    font-size: 42px;
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .text__mfvpV {
    font-size: 36px;
  }
}
.freeBox__zgtyi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__zgtyi {
    align-items: center;
  }
}
.copyableLink:global(.__wab_instance) {
  position: relative;
}
.freeBox__vXNp {
  flex-direction: column;
  width: 40%;
  height: auto;
  display: flex;
  position: relative;
}
.freeBox__vXNp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 9px);
  height: calc(100% + 9px);
}
.freeBox__vXNp > :global(.__wab_flex-container) > *,
.freeBox__vXNp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vXNp > :global(.__wab_flex-container) > picture > img,
.freeBox__vXNp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 9px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__vXNp {
    width: auto;
  }
}
.freeBox__odNah {
  flex-direction: row;
  display: flex;
  position: relative;
  height: auto;
  margin-top: calc(10px + 9px) !important;
  margin-left: -8px;
}
.freeBox__odNah > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.freeBox__odNah > :global(.__wab_flex-container) > *,
.freeBox__odNah > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__odNah > :global(.__wab_flex-container) > picture > img,
.freeBox__odNah
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__odNah {
    margin-left: 0px;
    margin-top: calc(10px + 9px) !important;
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__odNah > :global(.__wab_flex-container) {
    margin-left: calc(0px - 39px);
    width: calc(100% + 39px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 800px) {
  .freeBox__odNah > :global(.__wab_flex-container) > *,
  .freeBox__odNah > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__odNah > :global(.__wab_flex-container) > picture > img,
  .freeBox__odNah
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 39px;
    margin-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 400px) {
  .freeBox__odNah {
    margin-top: calc(10px + 9px) !important;
  }
}
.link__vato3 {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 8px;
}
.svg__j8Q5M {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #fafafa;
  flex-shrink: 0;
}
.link__vg2E3 {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 8px;
}
.svg___52Nrc {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #fafafa;
  flex-shrink: 0;
}
.link__gkoxU {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 8px;
}
.svg__r7DsD {
  position: relative;
  object-fit: cover;
  width: 16px;
  height: 16px;
  color: #fafafa;
  flex-shrink: 0;
}
.freeBox__otjqh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 0px;
  height: 0px;
  background: rgba(68, 192, 255, 0.2);
  flex-shrink: 0;
}
